--
-- PostgreSQL database dump
--

\restrict YuFX5fmzECJlW5A85eihRjyDncK3rNJOaQDYa81JhjtZNaoLBBI1HmHsg975niv

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: marketai
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO marketai;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: marketai
--

COMMENT ON SCHEMA public IS '';


--
-- Name: CredentialScope; Type: TYPE; Schema: public; Owner: marketai
--

CREATE TYPE public."CredentialScope" AS ENUM (
    'BUYER',
    'SELLER'
);


ALTER TYPE public."CredentialScope" OWNER TO marketai;

--
-- Name: SellerStatus; Type: TYPE; Schema: public; Owner: marketai
--

CREATE TYPE public."SellerStatus" AS ENUM (
    'PENDING_LEGAL_DATA',
    'UNDER_REVIEW',
    'ACTIVATED',
    'SUSPENDED',
    'REJECTED',
    'PAUSED'
);


ALTER TYPE public."SellerStatus" OWNER TO marketai;

--
-- Name: order_fulfillment_status; Type: TYPE; Schema: public; Owner: marketai
--

CREATE TYPE public.order_fulfillment_status AS ENUM (
    'new',
    'confirmed',
    'processing',
    'shipped',
    'ready_for_pickup',
    'delivered',
    'received',
    'canceled'
);


ALTER TYPE public.order_fulfillment_status OWNER TO marketai;

--
-- Name: order_payment_provider; Type: TYPE; Schema: public; Owner: marketai
--

CREATE TYPE public.order_payment_provider AS ENUM (
    'yookassa'
);


ALTER TYPE public.order_payment_provider OWNER TO marketai;

--
-- Name: order_payment_status; Type: TYPE; Schema: public; Owner: marketai
--

CREATE TYPE public.order_payment_status AS ENUM (
    'pending',
    'paid',
    'canceled',
    'failed',
    'refunded'
);


ALTER TYPE public.order_payment_status OWNER TO marketai;

--
-- Name: order_status; Type: TYPE; Schema: public; Owner: marketai
--

CREATE TYPE public.order_status AS ENUM (
    'awaiting_payment',
    'paid',
    'processing',
    'shipping',
    'ready',
    'completed',
    'cancelled'
);


ALTER TYPE public.order_status OWNER TO marketai;

--
-- Name: order_status_history_kind; Type: TYPE; Schema: public; Owner: marketai
--

CREATE TYPE public.order_status_history_kind AS ENUM (
    'order',
    'payment',
    'fulfillment'
);


ALTER TYPE public.order_status_history_kind OWNER TO marketai;

--
-- Name: order_status_history_source; Type: TYPE; Schema: public; Owner: marketai
--

CREATE TYPE public.order_status_history_source AS ENUM (
    'system',
    'buyer',
    'seller',
    'admin',
    'payment_provider'
);


ALTER TYPE public.order_status_history_source OWNER TO marketai;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Account; Type: TABLE; Schema: public; Owner: marketai
--

CREATE TABLE public."Account" (
    id text NOT NULL,
    email text NOT NULL,
    "isEmailVerified" boolean DEFAULT false NOT NULL,
    "verificationCode" text,
    "verificationCodeExpires" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Account" OWNER TO marketai;

--
-- Name: AccountCredential; Type: TABLE; Schema: public; Owner: marketai
--

CREATE TABLE public."AccountCredential" (
    id text NOT NULL,
    "accountId" text NOT NULL,
    scope public."CredentialScope" NOT NULL,
    "passwordHash" text NOT NULL,
    "refreshTokenHash" text,
    "resetCode" text,
    "resetCodeExpires" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."AccountCredential" OWNER TO marketai;

--
-- Name: CartItem; Type: TABLE; Schema: public; Owner: marketai
--

CREATE TABLE public."CartItem" (
    id text NOT NULL,
    "accountId" text NOT NULL,
    "productId" integer NOT NULL,
    quantity integer DEFAULT 1 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."CartItem" OWNER TO marketai;

--
-- Name: CompareItem; Type: TABLE; Schema: public; Owner: marketai
--

CREATE TABLE public."CompareItem" (
    id text NOT NULL,
    "accountId" text NOT NULL,
    "productId" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."CompareItem" OWNER TO marketai;

--
-- Name: FavoriteItem; Type: TABLE; Schema: public; Owner: marketai
--

CREATE TABLE public."FavoriteItem" (
    id text NOT NULL,
    "accountId" text NOT NULL,
    "productId" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."FavoriteItem" OWNER TO marketai;

--
-- Name: Product; Type: TABLE; Schema: public; Owner: marketai
--

CREATE TABLE public."Product" (
    id integer NOT NULL,
    "sellerId" text NOT NULL,
    "storeName" text NOT NULL,
    name text NOT NULL,
    category text NOT NULL,
    price numeric(12,2) NOT NULL,
    stock integer DEFAULT 0 NOT NULL,
    status text DEFAULT 'active'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    sku text NOT NULL,
    description text DEFAULT ''::text NOT NULL,
    "storeStatus" text DEFAULT 'ACTIVATED'::text NOT NULL,
    rating numeric(2,1) DEFAULT 0 NOT NULL,
    reviews integer DEFAULT 0 NOT NULL,
    "oldPrice" numeric(12,2)
);


ALTER TABLE public."Product" OWNER TO marketai;

--
-- Name: ProductImage; Type: TABLE; Schema: public; Owner: marketai
--

CREATE TABLE public."ProductImage" (
    id text NOT NULL,
    url text NOT NULL,
    "isMain" boolean DEFAULT false NOT NULL,
    "sortOrder" integer NOT NULL,
    "productId" integer NOT NULL
);


ALTER TABLE public."ProductImage" OWNER TO marketai;

--
-- Name: Product_id_seq; Type: SEQUENCE; Schema: public; Owner: marketai
--

CREATE SEQUENCE public."Product_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Product_id_seq" OWNER TO marketai;

--
-- Name: Product_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: marketai
--

ALTER SEQUENCE public."Product_id_seq" OWNED BY public."Product".id;


--
-- Name: SellerLegalProfile; Type: TABLE; Schema: public; Owner: marketai
--

CREATE TABLE public."SellerLegalProfile" (
    id text NOT NULL,
    "sellerId" text NOT NULL,
    "businessType" text NOT NULL,
    "taxId" text NOT NULL,
    "legalName" text NOT NULL,
    "legalAddress" text NOT NULL,
    "bankName" text NOT NULL,
    iban text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."SellerLegalProfile" OWNER TO marketai;

--
-- Name: User; Type: TABLE; Schema: public; Owner: marketai
--

CREATE TABLE public."User" (
    id text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "accountId" text NOT NULL,
    "displayName" text NOT NULL,
    phone text,
    email text NOT NULL,
    "deliveryCity" text,
    "deliveryStreet" text,
    "deliveryHouse" text,
    "deliveryFlat" text,
    "deliveryComment" text,
    "birthDate" timestamp(3) without time zone,
    gender text,
    avatar text
);


ALTER TABLE public."User" OWNER TO marketai;

--
-- Name: UserSeller; Type: TABLE; Schema: public; Owner: marketai
--

CREATE TABLE public."UserSeller" (
    id text NOT NULL,
    "accountId" text NOT NULL,
    "storeName" text NOT NULL,
    status public."SellerStatus" DEFAULT 'PENDING_LEGAL_DATA'::public."SellerStatus" NOT NULL,
    "agreementAcceptedAt" timestamp(3) without time zone NOT NULL,
    "legalName" text,
    inn text,
    phone text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "ownerEmail" text NOT NULL,
    "ownerName" text NOT NULL,
    "reviewComment" text,
    "submittedAt" timestamp(3) without time zone,
    "reviewedAt" timestamp(3) without time zone,
    email text NOT NULL,
    "logoUrl" text,
    description text,
    city text,
    "coverUrl" text,
    "avatarUrl" text
);


ALTER TABLE public."UserSeller" OWNER TO marketai;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: marketai
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO marketai;

--
-- Name: order_items; Type: TABLE; Schema: public; Owner: marketai
--

CREATE TABLE public.order_items (
    id uuid NOT NULL,
    order_id uuid NOT NULL,
    product_id integer NOT NULL,
    seller_id text NOT NULL,
    product_title_snapshot text NOT NULL,
    product_price_snapshot numeric(12,2) NOT NULL,
    quantity integer NOT NULL,
    line_total numeric(12,2) NOT NULL,
    store_name_snapshot text
);


ALTER TABLE public.order_items OWNER TO marketai;

--
-- Name: order_payments; Type: TABLE; Schema: public; Owner: marketai
--

CREATE TABLE public.order_payments (
    id uuid NOT NULL,
    order_id uuid NOT NULL,
    provider public.order_payment_provider NOT NULL,
    provider_payment_id text,
    status public.order_payment_status DEFAULT 'pending'::public.order_payment_status NOT NULL,
    amount numeric(12,2) NOT NULL,
    raw_payload jsonb,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.order_payments OWNER TO marketai;

--
-- Name: order_status_history; Type: TABLE; Schema: public; Owner: marketai
--

CREATE TABLE public.order_status_history (
    id uuid NOT NULL,
    order_id uuid NOT NULL,
    kind public.order_status_history_kind DEFAULT 'order'::public.order_status_history_kind NOT NULL,
    from_status text,
    to_status text NOT NULL,
    source public.order_status_history_source NOT NULL,
    comment text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.order_status_history OWNER TO marketai;

--
-- Name: orders; Type: TABLE; Schema: public; Owner: marketai
--

CREATE TABLE public.orders (
    id uuid NOT NULL,
    public_id text NOT NULL,
    buyer_id text NOT NULL,
    status public.order_status DEFAULT 'awaiting_payment'::public.order_status NOT NULL,
    payment_status public.order_payment_status DEFAULT 'pending'::public.order_payment_status NOT NULL,
    fulfillment_status public.order_fulfillment_status DEFAULT 'new'::public.order_fulfillment_status NOT NULL,
    delivery_method text NOT NULL,
    payment_method text NOT NULL,
    currency character varying(3) DEFAULT 'RUB'::character varying NOT NULL,
    items_total numeric(12,2) NOT NULL,
    delivery_total numeric(12,2) DEFAULT 0 NOT NULL,
    discount_total numeric(12,2) DEFAULT 0 NOT NULL,
    grand_total numeric(12,2) NOT NULL,
    customer_name text NOT NULL,
    customer_phone text NOT NULL,
    customer_email text NOT NULL,
    delivery_city text NOT NULL,
    delivery_street text NOT NULL,
    delivery_house text NOT NULL,
    delivery_flat text,
    delivery_comment text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    paid_at timestamp(3) without time zone,
    cancelled_at timestamp(3) without time zone,
    completed_at timestamp(3) without time zone,
    cancellation_reason text
);


ALTER TABLE public.orders OWNER TO marketai;

--
-- Name: Product id; Type: DEFAULT; Schema: public; Owner: marketai
--

ALTER TABLE ONLY public."Product" ALTER COLUMN id SET DEFAULT nextval('public."Product_id_seq"'::regclass);


--
-- Data for Name: Account; Type: TABLE DATA; Schema: public; Owner: marketai
--



--
-- Data for Name: AccountCredential; Type: TABLE DATA; Schema: public; Owner: marketai
--



--
-- Data for Name: CartItem; Type: TABLE DATA; Schema: public; Owner: marketai
--

COPY public."CartItem" (id, "accountId", "productId", quantity, "createdAt", "updatedAt") FROM stdin;
cmq8b8fgs0004pkirla7sbcfm	cmq8anwy70003ywirpbeuwkqj	6	1	2026-06-10 16:55:49.324	2026-06-10 16:55:49.324
cmq9h98q90004b0irsdlsm0nu	cmq96kmw000065girlmcdzoom	17	1	2026-06-11 12:32:11.121	2026-06-11 12:32:11.121
\.


--
-- Data for Name: CompareItem; Type: TABLE DATA; Schema: public; Owner: marketai
--

COPY public."CompareItem" (id, "accountId", "productId", "createdAt") FROM stdin;
cmq96m5tw0003icirw08h4t5c	cmq96kmw000065girlmcdzoom	28	2026-06-11 07:34:18.116
cmq9hjjuc0000isiru7b8xr6n	cmq96kmw000065girlmcdzoom	41	2026-06-11 12:40:12.084
\.


--
-- Data for Name: FavoriteItem; Type: TABLE DATA; Schema: public; Owner: marketai
--

COPY public."FavoriteItem" (id, "accountId", "productId", "createdAt") FROM stdin;
cmq8axoz50001pkirz9pf5yt0	cmq8anaay0000ywirf8glj5w8	4	2026-06-10 16:47:28.433
cmq8axpg10002pkirywmslw3k	cmq8anaay0000ywirf8glj5w8	10	2026-06-10 16:47:29.041
cmq8axptu0003pkirwen1inlm	cmq8anaay0000ywirf8glj5w8	1	2026-06-10 16:47:29.538
cmq9h2qzp0000b0irvssxk6im	cmq96kmw000065girlmcdzoom	41	2026-06-11 12:27:08.197
cmq9h4izj0001b0irm8gllafr	cmq96kmw000065girlmcdzoom	17	2026-06-11 12:28:31.135
\.


--
-- Data for Name: Product; Type: TABLE DATA; Schema: public; Owner: marketai
--



--
-- Data for Name: ProductImage; Type: TABLE DATA; Schema: public; Owner: marketai
--

COPY public."ProductImage" (id, url, "isMain", "sortOrder", "productId") FROM stdin;
\.


--
-- Data for Name: SellerLegalProfile; Type: TABLE DATA; Schema: public; Owner: marketai
--

COPY public."SellerLegalProfile" (id, "sellerId", "businessType", "taxId", "legalName", "legalAddress", "bankName", iban, "createdAt", "updatedAt") FROM stdin;
cmq8bjquo0002doirc6gdoh6h	cmq8bj5fx0000doirc3prlpcg	individual	213333333333	12333333333333333	asdasd	asdasd	12333333333333333333	2026-06-10 17:04:37.296	2026-06-10 17:04:37.296
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: marketai
--



--
-- Data for Name: UserSeller; Type: TABLE DATA; Schema: public; Owner: marketai
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: marketai
--



--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: marketai
--

COPY public.order_items (id, order_id, product_id, seller_id, product_title_snapshot, product_price_snapshot, quantity, line_total, store_name_snapshot) FROM stdin;
bd9e7f91-2590-4295-a29a-e98b1ea26fc6	f1368953-0ac1-4e4d-90b2-6c5766be7d2e	10	cmq8anwy70003ywirpbeuwkqj	╨б╨┐╨╛╤А╤В╨╕╨▓╨╜╤Л╨╣ ╨║╨╛╤Б╤В╤О╨╝	5490.00	1	5490.00	\N
\.


--
-- Data for Name: order_payments; Type: TABLE DATA; Schema: public; Owner: marketai
--



--
-- Data for Name: order_status_history; Type: TABLE DATA; Schema: public; Owner: marketai
--



--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: marketai
--



--
-- Name: Product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: marketai
--

SELECT pg_catalog.setval('public."Product_id_seq"', 110, true);


--
-- Name: AccountCredential AccountCredential_pkey; Type: CONSTRAINT; Schema: public; Owner: marketai
--

ALTER TABLE ONLY public."AccountCredential"
    ADD CONSTRAINT "AccountCredential_pkey" PRIMARY KEY (id);


--
-- Name: Account Account_pkey; Type: CONSTRAINT; Schema: public; Owner: marketai
--

ALTER TABLE ONLY public."Account"
    ADD CONSTRAINT "Account_pkey" PRIMARY KEY (id);


--
-- Name: CartItem CartItem_pkey; Type: CONSTRAINT; Schema: public; Owner: marketai
--

ALTER TABLE ONLY public."CartItem"
    ADD CONSTRAINT "CartItem_pkey" PRIMARY KEY (id);


--
-- Name: CompareItem CompareItem_pkey; Type: CONSTRAINT; Schema: public; Owner: marketai
--

ALTER TABLE ONLY public."CompareItem"
    ADD CONSTRAINT "CompareItem_pkey" PRIMARY KEY (id);


--
-- Name: FavoriteItem FavoriteItem_pkey; Type: CONSTRAINT; Schema: public; Owner: marketai
--

ALTER TABLE ONLY public."FavoriteItem"
    ADD CONSTRAINT "FavoriteItem_pkey" PRIMARY KEY (id);


--
-- Name: ProductImage ProductImage_pkey; Type: CONSTRAINT; Schema: public; Owner: marketai
--

ALTER TABLE ONLY public."ProductImage"
    ADD CONSTRAINT "ProductImage_pkey" PRIMARY KEY (id);


--
-- Name: Product Product_pkey; Type: CONSTRAINT; Schema: public; Owner: marketai
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_pkey" PRIMARY KEY (id);


--
-- Name: SellerLegalProfile SellerLegalProfile_pkey; Type: CONSTRAINT; Schema: public; Owner: marketai
--

ALTER TABLE ONLY public."SellerLegalProfile"
    ADD CONSTRAINT "SellerLegalProfile_pkey" PRIMARY KEY (id);


--
-- Name: UserSeller UserSeller_pkey; Type: CONSTRAINT; Schema: public; Owner: marketai
--

ALTER TABLE ONLY public."UserSeller"
    ADD CONSTRAINT "UserSeller_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: marketai
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: marketai
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: marketai
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: order_payments order_payments_pkey; Type: CONSTRAINT; Schema: public; Owner: marketai
--

ALTER TABLE ONLY public.order_payments
    ADD CONSTRAINT order_payments_pkey PRIMARY KEY (id);


--
-- Name: order_status_history order_status_history_pkey; Type: CONSTRAINT; Schema: public; Owner: marketai
--

ALTER TABLE ONLY public.order_status_history
    ADD CONSTRAINT order_status_history_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: marketai
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: AccountCredential_accountId_scope_key; Type: INDEX; Schema: public; Owner: marketai
--

CREATE UNIQUE INDEX "AccountCredential_accountId_scope_key" ON public."AccountCredential" USING btree ("accountId", scope);


--
-- Name: Account_email_key; Type: INDEX; Schema: public; Owner: marketai
--

CREATE UNIQUE INDEX "Account_email_key" ON public."Account" USING btree (email);


--
-- Name: CartItem_accountId_idx; Type: INDEX; Schema: public; Owner: marketai
--

CREATE INDEX "CartItem_accountId_idx" ON public."CartItem" USING btree ("accountId");


--
-- Name: CartItem_accountId_productId_key; Type: INDEX; Schema: public; Owner: marketai
--

CREATE UNIQUE INDEX "CartItem_accountId_productId_key" ON public."CartItem" USING btree ("accountId", "productId");


--
-- Name: CompareItem_accountId_idx; Type: INDEX; Schema: public; Owner: marketai
--

CREATE INDEX "CompareItem_accountId_idx" ON public."CompareItem" USING btree ("accountId");


--
-- Name: CompareItem_accountId_productId_key; Type: INDEX; Schema: public; Owner: marketai
--

CREATE UNIQUE INDEX "CompareItem_accountId_productId_key" ON public."CompareItem" USING btree ("accountId", "productId");


--
-- Name: FavoriteItem_accountId_idx; Type: INDEX; Schema: public; Owner: marketai
--

CREATE INDEX "FavoriteItem_accountId_idx" ON public."FavoriteItem" USING btree ("accountId");


--
-- Name: FavoriteItem_accountId_productId_key; Type: INDEX; Schema: public; Owner: marketai
--

CREATE UNIQUE INDEX "FavoriteItem_accountId_productId_key" ON public."FavoriteItem" USING btree ("accountId", "productId");


--
-- Name: ProductImage_productId_sortOrder_idx; Type: INDEX; Schema: public; Owner: marketai
--

CREATE INDEX "ProductImage_productId_sortOrder_idx" ON public."ProductImage" USING btree ("productId", "sortOrder");


--
-- Name: Product_category_idx; Type: INDEX; Schema: public; Owner: marketai
--

CREATE INDEX "Product_category_idx" ON public."Product" USING btree (category);


--
-- Name: Product_sellerId_idx; Type: INDEX; Schema: public; Owner: marketai
--

CREATE INDEX "Product_sellerId_idx" ON public."Product" USING btree ("sellerId");


--
-- Name: Product_sku_key; Type: INDEX; Schema: public; Owner: marketai
--

CREATE UNIQUE INDEX "Product_sku_key" ON public."Product" USING btree (sku);


--
-- Name: Product_status_idx; Type: INDEX; Schema: public; Owner: marketai
--

CREATE INDEX "Product_status_idx" ON public."Product" USING btree (status);


--
-- Name: Product_storeStatus_idx; Type: INDEX; Schema: public; Owner: marketai
--

CREATE INDEX "Product_storeStatus_idx" ON public."Product" USING btree ("storeStatus");


--
-- Name: SellerLegalProfile_sellerId_key; Type: INDEX; Schema: public; Owner: marketai
--

CREATE UNIQUE INDEX "SellerLegalProfile_sellerId_key" ON public."SellerLegalProfile" USING btree ("sellerId");


--
-- Name: UserSeller_accountId_key; Type: INDEX; Schema: public; Owner: marketai
--

CREATE UNIQUE INDEX "UserSeller_accountId_key" ON public."UserSeller" USING btree ("accountId");


--
-- Name: User_accountId_key; Type: INDEX; Schema: public; Owner: marketai
--

CREATE UNIQUE INDEX "User_accountId_key" ON public."User" USING btree ("accountId");


--
-- Name: order_items_order_id_idx; Type: INDEX; Schema: public; Owner: marketai
--

CREATE INDEX order_items_order_id_idx ON public.order_items USING btree (order_id);


--
-- Name: order_items_product_id_idx; Type: INDEX; Schema: public; Owner: marketai
--

CREATE INDEX order_items_product_id_idx ON public.order_items USING btree (product_id);


--
-- Name: order_items_seller_id_idx; Type: INDEX; Schema: public; Owner: marketai
--

CREATE INDEX order_items_seller_id_idx ON public.order_items USING btree (seller_id);


--
-- Name: order_payments_order_id_idx; Type: INDEX; Schema: public; Owner: marketai
--

CREATE INDEX order_payments_order_id_idx ON public.order_payments USING btree (order_id);


--
-- Name: order_payments_provider_provider_payment_id_key; Type: INDEX; Schema: public; Owner: marketai
--

CREATE UNIQUE INDEX order_payments_provider_provider_payment_id_key ON public.order_payments USING btree (provider, provider_payment_id);


--
-- Name: order_payments_status_idx; Type: INDEX; Schema: public; Owner: marketai
--

CREATE INDEX order_payments_status_idx ON public.order_payments USING btree (status);


--
-- Name: order_status_history_kind_idx; Type: INDEX; Schema: public; Owner: marketai
--

CREATE INDEX order_status_history_kind_idx ON public.order_status_history USING btree (kind);


--
-- Name: order_status_history_order_id_created_at_idx; Type: INDEX; Schema: public; Owner: marketai
--

CREATE INDEX order_status_history_order_id_created_at_idx ON public.order_status_history USING btree (order_id, created_at);


--
-- Name: orders_buyer_id_created_at_idx; Type: INDEX; Schema: public; Owner: marketai
--

CREATE INDEX orders_buyer_id_created_at_idx ON public.orders USING btree (buyer_id, created_at);


--
-- Name: orders_fulfillment_status_idx; Type: INDEX; Schema: public; Owner: marketai
--

CREATE INDEX orders_fulfillment_status_idx ON public.orders USING btree (fulfillment_status);


--
-- Name: orders_payment_status_idx; Type: INDEX; Schema: public; Owner: marketai
--

CREATE INDEX orders_payment_status_idx ON public.orders USING btree (payment_status);


--
-- Name: orders_public_id_key; Type: INDEX; Schema: public; Owner: marketai
--

CREATE UNIQUE INDEX orders_public_id_key ON public.orders USING btree (public_id);


--
-- Name: orders_status_idx; Type: INDEX; Schema: public; Owner: marketai
--

CREATE INDEX orders_status_idx ON public.orders USING btree (status);


--
-- Name: AccountCredential AccountCredential_accountId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: marketai
--

ALTER TABLE ONLY public."AccountCredential"
    ADD CONSTRAINT "AccountCredential_accountId_fkey" FOREIGN KEY ("accountId") REFERENCES public."Account"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ProductImage ProductImage_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: marketai
--

ALTER TABLE ONLY public."ProductImage"
    ADD CONSTRAINT "ProductImage_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SellerLegalProfile SellerLegalProfile_sellerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: marketai
--

ALTER TABLE ONLY public."SellerLegalProfile"
    ADD CONSTRAINT "SellerLegalProfile_sellerId_fkey" FOREIGN KEY ("sellerId") REFERENCES public."UserSeller"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserSeller UserSeller_accountId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: marketai
--

ALTER TABLE ONLY public."UserSeller"
    ADD CONSTRAINT "UserSeller_accountId_fkey" FOREIGN KEY ("accountId") REFERENCES public."Account"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: User User_accountId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: marketai
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_accountId_fkey" FOREIGN KEY ("accountId") REFERENCES public."Account"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: order_items order_items_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: marketai
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: order_payments order_payments_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: marketai
--

ALTER TABLE ONLY public.order_payments
    ADD CONSTRAINT order_payments_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: order_status_history order_status_history_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: marketai
--

ALTER TABLE ONLY public.order_status_history
    ADD CONSTRAINT order_status_history_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: marketai
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict YuFX5fmzECJlW5A85eihRjyDncK3rNJOaQDYa81JhjtZNaoLBBI1HmHsg975niv

